.app{
    text-align: center;
}

.rwc-scheme{
    color: rgb(63, 163, 222);
    color: rgb(86, 175, 225);
    color: rgb(55, 100, 125);
    color: rgb(10, 28, 44);
    color: rgb(235, 0, 41);
}
.rwc-logo{
    height: 80;
    position: relative;
}

.header{
    /* height: 10rem; */
    /* border: solid rgb(10, 28, 44) 10px; */
    background: rgb(10, 28, 44);
    color: white;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.header-brand {
    font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
    font-size: 60;
    font-weight: 700;
    /* width: fit-content; */
    margin: auto;
}
.header-icon{
    font-size: 4rem;
    color: white;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background: white;
    color: rgb(10, 28, 44);
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: solid rgb(10, 28, 44, 0.5) 2px;
}

.footer-icon{
    font-size: 4rem;
}

.body{
    background-color: white;
    min-height: 100%;
}

.page-title{
    font-size: 60px;
    margin: 2.2rem;
}
.title-card{
    border-top: solid rgb(10, 28, 44) 10px;
    border-bottom: solid rgb(10, 28, 44) 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
    color: rgb(235, 0, 41);
}
.TitleBar{
 
}

.PlayersCard{
    display: inline-block;
    margin-bottom: 3rem;
}

.PlayersBoard{
    margin-bottom: 100px;
}

.player-card{
    height: 650px;
    width: 28rem;
    background-color: whitesmoke;
    border: solid lightgray 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.player-card-img{
    height: 300;
    width: 300;
    border-radius: 50%;
    margin: auto;
    border: solid white 5px;
    box-shadow: 20px;
}
.player-card-logo{
    max-height: 140;
    max-width: 140;
    margin-right: 30px;
}
.player-card-body{
    background-image: linear-gradient(rgb(63, 163, 222, 0.3), white, white, white);
}
.player-card-name{
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.player-card-team{
    font-size: 50px;
}
.player-card-flag{
    height: auto;
    width: 140;
    margin-left: 30px;
    position: relative;
}