.app{
    text-align: center;
}

.rwc-scheme{
    color: rgb(63, 163, 222);
    color: rgb(86, 175, 225);
    color: rgb(55, 100, 125);
    color: rgb(10, 28, 44);
    color: rgb(235, 0, 41);
}
.rwc-logo{
    height: 80;
    position: relative;
}

.header{
    /* height: 10rem; */
    /* border: solid rgb(10, 28, 44) 10px; */
    background: rgb(10, 28, 44);
    color: white;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.header-brand {
    font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
    font-size: 60;
    font-weight: 700;
    /* width: fit-content; */
    margin: auto;
}
.header-icon{
    font-size: 4rem;
    color: white;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background: white;
    color: rgb(10, 28, 44, 0.5);
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: solid rgb(10, 28, 44, 0.5) 2px;
}

.footer-icon{
    font-size: 4rem;
}

.body{
    background-color: white;
    min-height: 100%;
}

.page-title{
    font-size: 60px;
    margin: 2.2rem;
}
.title-card{
    border-top: solid rgb(10, 28, 44) 10px;
    border-bottom: solid rgb(10, 28, 44) 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
    color: rgb(235, 0, 41);
}
.TitleBar{
 
}

.inline {
    display: inline-block;
}

.PlayersCard{
    display: inline-block;
    margin-bottom: 2.5rem;
}

.Body{
    margin-bottom: 100px;
}

.player-card{
    height: 650px;
    width: 28rem;
    background-color: whitesmoke;
    border: solid lightgray 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.player-card-img{
    height: 300;
    width: 300;
    border-radius: 50%;
    margin: auto;
    border: solid white 5px;
}
.player-card-logo{
    max-height: 140;
    max-width: 140;
    margin-right: 30px;
}
.player-card-body{
    background-image: linear-gradient(to bottom, rgb(63, 163, 222, 0.3) 0%, rgb(63, 163, 222, 0.3) 25%,  white 25%, white 100%);
}
.player-card-name{
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.player-card-team{
    font-size: 50px;
}
.player-card-flag{
    height: auto;
    width: 140;
    margin-left: 30px;
    position: relative;
}

.player-element-img{
    height: 90;
    width: 90;
    border-radius: 50%;
    /* margin: auto; */
    border: solid lightgray 3px;
}
.player-element-logo{
    max-height: 65;
    max-width: 65;
    margin-top: auto;
    margin-bottom: auto;
}
.player-element-name-team{
    display: grid;
    grid-template-rows: auto auto;
}
.player-element-name{
    text-align: left;
    width: 200px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 45px;
    /* margin-left: 50px; */
}
.player-element-team{
    text-align: left;
    width: 200px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
    /* margin-left: 50px; */
}
.tournament-placeholder-text{
    font-size: 45px;
    color: grey;
}
.element-grid-container{
    width: 390px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    /* grid-column-gap: 20px; */
    justify-content: space-between;
}

.group-card{
    width: 29rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pool-header{
    background-color: rgb(10, 28, 44);
    color: white;
}
.pool-title{
    font-size: 50px;
    font-weight: 800;
    font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
}
.pool-grid-container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.pool-points{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
}
.tournament-grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    justify-content: center;
}
.final-grid-container{
    display: grid;
    grid-template-columns: auto auto;
} 
.final-card{
    width: 50rem;
}

.fixtures-header-container{
    width: 900px;
    margin: auto;
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto;
}
.fixture-details{
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: auto 500px auto;
}
.fixture-images{
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    margin: 10px;
}
.fixture-element-img{
    height: 100;
    width: 100;
    border-radius: 50%;
    /* margin: auto; */
    border: solid lightgray 3px;
}
.fixture-element-logo{
    max-height: 80;
    max-width: 80;
    margin: auto;
}
.fixture-names{
    /* font-size: 80px; */
    font-weight: bold;
}
.fixture-text-container{
    margin: auto;
}
.FixturesCard{
    margin-bottom: 20px;
    margin-top:  20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.FixturesDateContainer{
    display: grid;
    grid-template-rows: auto auto;
    width: 900px;
    margin: auto;
    margin-bottom: 60px;

}
.date-label{
    text-align: left;
    margin-left: 10px;
    /* font-weight: bold; */
}
/* .datetime-element{
    display: grid;
    grid-template-columns: 50px auto;
    grid-column-gap: 10px;
    text-align: left;
} */
.fixture-label{
    background-color: rgb(63, 163, 222, 0.5);
}